.btn{
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 12px;
    padding: 7px 10px 7px 10px;

    &:focus{
        outline: none;
    }

}

.btn-primary{
    background-color: $primary;
    border-radius: .5rem;
    width: 100%;
    margin-top: 5rem;
    padding: 1rem 0;
    font-size: 1.8rem;
    box-shadow: 0px 5px 2px rgb(20, 52, 90);
    transition: all 100ms ease-in;

    &:disabled{
        background-color: lighten($color: $primary, $amount: 15);
    }

    &:hover{
        background-color: darken($color: $primary, $amount: 15);
    }

    &:active{
        transform: translateY(10px);
        box-shadow: 0px 0px 2px rgb(20, 52, 90);
    }

}

.auth__btns{
    display:flex;
    width: 100%;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 2rem;

    .auth__btn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border: 1px solid #e1e1e1;
        border-radius: 1rem;
        padding: 1rem;
        transition: all .3s ease;

        &:hover{
            cursor: pointer;
            box-shadow: 0px 3px 2px rgba(0, 0, 0, .5);
        }

        .google-icon{
            width: 50px;
        }
    }
}

.btn-logout{
    font-size: 2.5rem;
}

.btn__navbar{
    padding: 1.5rem 3rem;
    font-size: 1.4rem;
    border-radius: 1rem;
    background-color: darken($primary, $amount: 1);
    
    &:hover{
        background-color: darken($primary, $amount: 2) ;
    }
}

.btn-danger{
    background-color: rgb(178, 39, 39);
    transition: all .3s ease-in;

    &:hover{
        background-color: darken($color: red, $amount: 10);
    }
}