// Colors
$primary: #5C62C5;
$dark-grey: #363636;
$light-grey: #d8d8d8;
$bg-grey: #f2f2f2;

$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;

//Fuentes
$fuentePrincipal: 'Roboto', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;